define(
    [
        'Magento_Checkout/js/view/payment/default'
    ],
    function (Component) {{
        'use strict';
        return Component.extend({{
            defaults: {{
                template: '{module_name}/payment/{payment_code}'
            }},
            getMailingAddress: function() {{
                return window.checkoutConfig.payment.checkmo.mailingAddress;
            }},
        }});
    }}
);
