$customerSetup->addAttribute('customer', '{attribute_code}', [
    'type' => '{value_type}',
    'label' => '{attribute_label}',
    'input' => '{frontend_input}',
    'source' => '{source_model}',
    'required' => {required},
    'visible' => {visible},
    'position' => {sort_order},
    'system' => false,
    'backend' => '{backend_model}'
]);