$eavSetup->addAttribute(
    \Magento\Catalog\Model\Product::ENTITY,
    '{attribute_code}',
    [
        'type' => '{value_type}',
        'label' => '{attribute_label}',
        'input' => '{frontend_input}',
        'source' => {source_model},
        'frontend' => '{frontend}',
        'required' => {required},
        'backend' => '{backend}',
        'sort_order' => '{sort_order}',
        'global' => {scope},
        'default' => {default},
        'visible' => true,
        'user_defined' => {user_defined},
        'searchable' => {searchable},
        'filterable' => {filterable},
        'comparable' => {comparable},
        'visible_on_front' => {visible_on_front},
        'unique' => {unique},
        'apply_to' => '{apply_to}',
        'group' => 'General',
        'used_in_product_listing' => {used_in_product_listing},
        'is_used_in_grid' => true,
        'is_visible_in_grid' => false,
        'is_filterable_in_grid' => false,
        'option' => {options}
    ]
);