// associate these attributes with new product type
$fieldList = [
    'price',
    'special_price',
    'special_from_date',
    'special_to_date',
    'minimal_price',
    'cost',
    'tier_price',
    'weight',
];

// make these attributes applicable to new product type
foreach ($fieldList as $field) {{
    $applyTo = explode(
        ',',
        $eavSetup->getAttribute(\Magento\Catalog\Model\Product::ENTITY, $field, 'apply_to')
    );
    if (!in_array({product_type_class_name}::TYPE_ID, $applyTo)) {{
        $applyTo[] = {product_type_class_name}::TYPE_ID;
        $eavSetup->updateAttribute(
            \Magento\Catalog\Model\Product::ENTITY,
            $field,
            'apply_to',
            implode(',', $applyTo)
        );
    }}
}}