# Mage2 Module {package_name} {name}

    ``{composer_name}``

 - [Main Functionalities](#markdown-header-main-functionalities)
 - [Installation](#markdown-header-installation)
 - [Configuration](#markdown-header-configuration)
 - [Specifications](#markdown-header-specifications)
 - [Attributes](#markdown-header-attributes)


## Main Functionalities
{description}

## Installation

### Type 1: Zip file

 - Unzip the zip file in `app/code/{package_name}`
 - Enable the module by running `php bin/magento module:enable {module_name}`
 - Apply database updates by running `php bin/magento setup:upgrade --keep-generated`
 - Flush the cache by running `php bin/magento cache:flush`

### Type 2: Composer

 - Make the module available in a composer repository for example:
    - private repository `repo.magento.com`
    - public repository `packagist.org`
    - public github repository as vcs
 - Add the composer repository to the configuration by running `composer config repositories.repo.magento.com composer https://repo.magento.com/`
 - Install the module composer by running `composer require {composer_name}`
 - enable the module by running `php bin/magento module:enable {module_name}`
 - apply database updates by running `php bin/magento setup:upgrade --keep-generated`
 - Flush the cache by running `php bin/magento cache:flush`


## Configuration

{configuration}


## Specifications

{specifications}


## Attributes

{attributes}

