<!--master.html-->
<div attr="data.main.attributes"
     ko-style="data.main.style"
     css="data.main.css"
>
    <div class="{content_type_code}-content">
        <h3 attr="data.{field_name}.attributes"
            html="data.{field_name}.html"></h3>
    </div>
</div>
