<!--master.html-->
<div attr="data.main.attributes"
     ko-style="data.main.style"
     css="data.main.css"
     data-mage-init='{{"accordion":{{
        "openedState": "active",
        "collapsible": true,
        "active": false,
        "multipleCollapsible": true
    }}}}'
>
    <div class="{content_type_code}-content" data-role="collapsible">
        <h3 attr="data.{field_name}.attributes"
            data-role="trigger"
            html="data.{field_name}.html"></h3>
    </div>
</div>
