var config = {{
    config: {{
        mixins: {{
            'Magento_Checkout/js/action/set-billing-address': {{
                '{module_name}/js/action/set-billing-address-mixin': true
            }},
            'Magento_Checkout/js/action/set-shipping-information': {{
                '{module_name}/js/action/set-shipping-information-mixin': true
            }},
            'Magento_Checkout/js/action/create-shipping-address': {{
                '{module_name}/js/action/create-shipping-address-mixin': true
            }},
            'Magento_Checkout/js/action/place-order': {{
                '{module_name}/js/action/set-billing-address-mixin': true
            }},
            'Magento_Checkout/js/action/create-billing-address': {{
                '{module_name}/js/action/set-billing-address-mixin': true
            }}
        }}
    }}
}};